.row1{
    width:100%;
    background: radial-gradient(50% 50% at 50% 50%, rgba(248, 41, 147, 0.75) 0%, #E1147D 100%)!important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-right: 3rem;
}
.texts{
    color: white;
    font-weight: bold;
    margin-top:3rem;
    margin-left: 3rem;
}
.upper{
    margin-right: 3rem;
}
.text > .button{
    background-color:white;
}

.pict > img{
    width:120%;
}
.row2{
    width: 30%!important;
    height: 5rem!important;
    background: radial-gradient(50% 50% at 50% 50%, rgba(248, 41, 147, 0.75) 0%, #E1147D 100%)!important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    }
.container1{
    display:flex;
    flex-direction:column;
}
.calendar > p{
    text-align:left;
    margin-top: 1rem;
    margin-left: 1rem;
    color: white;
    font-weight: bold;
}
.cards{
    display:flex;
    height: 9rem !important;
    background-color: white;
    padding:1rem;
}
.product{
    background: radial-gradient(50% 50% at 50% 50%, rgba(248, 41, 147, 0.75) 0%, #E1147D 100%)!important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 100%;
    margin-top: 1rem;
}
.product > p{
    color:white;
    font-weight: bold;
    text-align: left;
    margin-top: 1rem;
    margin-left: 1rem;
}
.cardbtn{
    background-color: #E1147D!important;
    color: white !important;
    height: 4vh;
    font-size: 0.5rem;
    
}
.covers{
    display: flex;
}
.productrow{
    margin-top:8rem;
    background-color: white!important;
    display: flex!important;
}
.productcard{
    box-shadow: -1px 1px 20px -4px rgba(0, 0, 0, 0.25);
border-radius: 10px;
border: 1px solid whitesmoke;
}
.reccard{
    display: flex;
    justify-content:center;
}
.recomendation > p{
    text-align: left;
    margin-left: 2.9rem;
    font-weight: bold;
}
.cosmetic{
    margin-right: 2rem;
    padding: 2rem !important;
    background: #FFFFFF;
    box-shadow: -1px 1px 20px -4px rgba(0, 0, 0, 0.25);
     border-radius: 10px;
}
.productrow2{
    margin-top:8rem;
    background-color: white!important;
    display: flex!important;
    background: radial-gradient(50% 50% at 50% 50%, rgba(248, 41, 147, 0.75) 0%, #E1147D 100%)!important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.carousel{
    margin-top:8rem;
    width:80%;
    height: 50% !important;
    margin-left: 6rem;
 
  
}
.footer{
    width:100vw;
    height:100%;
    background-color: #E1147D;
    color: white;
}
