.upload > img{
    width:20%
}
.uploadcol{
    background: #FFFFFF;
box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25), -4px -4px 6px rgba(222, 222, 222, 0.25);
border-radius: 10px;
}
.upload > h1{
    display:block;
    background-color: #E1147D;
    text-align:left;
    font-weight: bold;
    color:black;
}
.upload > p{
    font-weight: bold;
    color:black;
}
.nextbtn{
    display: flex;
    justify-content: flex-end;
}
.nextbtn > .next{
    background-color: #E1147D;
    color:white;
}